#divMain{
 height: 100vh;
width: 100vw;
border-radius: 2rem;
margin-top: -2%;
}



@media screen and (max-width:600px){
    #hiddeIMG{
        display: none;
    }

    #border{
       border: none;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       margin-right: 15%;
       margin-top: -8%;
    }
    #divMain{
        width: 100vw;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #divMain input{
        width: 300px;
    }
}