<!DOCTYPE html>
<html lang="en">
<head>
    <title>Mind-blowing</title>
    <link rel="stylesheet" href="./pro1.css"/>
    <link rel="stylesheet" href="../bootstrap.min.css"/>
</head>
<body>
    <div class="container-fluid" >
        
        <div class="row"  >
            <div  align="center" class="col-lg-3 px-5" id="one" > 
                <img  class="mb-2" src="./Group 110.svg" width="60px" height="60px"/>
                <p>Qualified instructors</p>
                <b>1+</b>&nbsp;
            </div>

            <div  align="center"class="col-lg-3" id="two" > 
                <img class="mb-2" src="./Group 108-2.svg" width="60px" height="60px"/>
                <p>Enrolled Members</p>
                <b>20+</b>&nbsp;
            </div>

            <div align="center" class="col-lg-3" id="three" > 
                <img class="mb-2" src="./Group 109-3.svg" width="60px" height="60px"/>
                <p>Session</p>
                <b>5+</b>&nbsp;
            </div>

            <span align="center" class="col-lg-3" id="four" > 
                <img class="mb-2" src="./34-Happy and Smile-4.svg" width="60px" height="60px"/>
                <p>Happy customers</p>
                <b>14+</b>&nbsp;
            </span>

        </div>

    </div>
</body>
</html>